[Unit]
Description=Periodically check the Lisa boot launcher kiosk is running

[Timer]
OnBootSec=30s
OnUnitActiveSec=30s

[Install]
WantedBy=timers.target
